* {
      box-sizing: border-box;
      margin: 0;
      border: none;
}
@font-face {
      font-family: speigel, sans-serif;
      src: url(../fonts/FF-Mark/MarkPro-Medium.otf);
}
body {
      background-color: #f8f7f1;
      display: flex;
      font-family: "cursive", serif;
}
.navbar {
      height: 100vh;
      background-color: #2c2c2c;
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      color: white;
}
main {
      flex-grow: 1;
}
#logo {
      font-weight: bold;
      font-size: large;
}

#user {
      font-weight: 500;
      font-size: medium;
      text-align: center;
}
#user-image {
      border-radius: 50%;
      width: 100px;
      height: 100px;
}

#nav-links {
      flex-grow: 0.7;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: small;
}

.link-item {
      text-decoration: none;
      color: white;
      font-weight: 400;
      display: block;
      width: 100px;
}
#user-stats {
      background-color: #f1eee3;
      padding: 20px;
}
#stats-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}
.stat {
      height: 140px;
      width: 140px;
      padding: 20px;
      border-radius: 20px;
      color: black;
      background-color: #c6d0bc;
      margin: 5px;
}

.heading {
      font-size: small;
      font-weight: bold;
}

.stat-value {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
}

#double-shots {
      background-color: #f6d78b;
}

#triple-shots {
      background-color: #a3a7fc;
}

.all-time-user-image {
      width: 50px;
      height: 50px;
      background-color: white;
      border-radius: 10px;
}

#highest-scores-all-time {
      padding: 20px;
}
.all-time-user {
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px;
}
