<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>game arena</title>

  <link rel="stylesheet" href="public/css/gameArena.css">
  <link rel="stylesheet" href="public/css/navBar.css">
</head>



<body>

  <%- include("./partials/navBar")%>

  <main>

    <div id="game-info">


      <div class="info-item" id="score">Score: 0</div>

      <div class="info-item" id="single-shot">1X blast: 0</div>
      <div class="info-item" id="double-shot">2X blast: 0</div>
      <div class="info-item" id="triple-shot">3X blast: 0</div>
      <!-- <button class="menu-item" id="pause-button">Pause</button> -->

    </div>
    <div class="container">
      <% for(let i=0;i<22;i++) { %>
      <div class="row" id="player-1-row-<%= i%>">
        <span class="laser-beam" id="player-1-laser-beam-<%= i%>"></span>
        <% for(let j=0;j<15;j++){ %>
        <div class="column" id="player-1-column-<%= j%>"></div>
        <% } %>
      </div>
      <% } %>
      <div class="menu">
        <div class="control">down: arrow down</div>
        <div class="control">left: arrow left</div>
        <div class="control">right: arrow right</div>
        <div class="control" style="margin-bottom: 30px;">rotate: space bar</div>

        <button class="menu-item" id="play-button">Play</button>



      </div>
    </div>




  </main>

  <script src="public/js/gameArena/gameConfiguration.js"></script>
  <script src="public/js/gameArena/controllers/gameStats.js"></script>
  <script src="public/js/gameArena/controllers/gameMenu.js"></script>
  <script src="public/js/gameArena/controllers/destroy.js"></script>

  <script src="public/js/gameArena/controllers/visualUpdate.js"></script>
  <script src="public/js/gameArena/controllers/playerInputs.js"></script>
  <script src="public/js/gameArena/controllers/player.js"></script>

</body>

</html>