<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="public/css/home.css">
  <link rel="stylesheet" href="public/css/navBar.css">
</head>


<body>
  <%- include("./partials/navBar")%>

  <main>

    <!-- <p id="introduction">
      Unleash your inner Tetris champion in our web-based game. Stack, clear lines, and compete
      for high scores in this addictive classic.
    </p> -->
    <div>
      <button class="button"><a href="/play" class="button-link">SINGLE PLAYER</a></button>
      <button class="button"><a href="/gameArena" class="button-link">MULTI PLAYER</a></button>
    </div>


  </main>





</body>

</html>