<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/css/login.css">
  <link rel="stylesheet" href="public/css/navBar.css">
  <title>Login</title>
</head>

<body>
  <%- include("./partials/navBar")%>
  <main>
    <form action="/login" method="post">

      <heading>Login</heading>

      <input type="text" id="username" name="username" placeholder="username" required value="tester">

      <input type="password" id="password" name="password" placeholder="password" required value="tester123#">


      <button class="button">Login</button>


    </form>
  </main>
</body>

</html>