<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/css/register.css">
  <link rel="stylesheet" href="public/css/navBar.css">
  <title>Login</title>
</head>

<body>
  <%- include("./partials/navBar")%>
  <main>
    <form action="/register" method="post">

      <h2>Register</h2>

      <input type="email" id="email" name="email" placeholder="email" required>

      <input type="text" id="username" name="username" placeholder="username" required>

      <input type="password" id="password" name="password" placeholder="password" required>


      <button class="button">Register</button>


    </form>
  </main>
</body>

</html>