<nav class="navBar">
  <div class="logo">TETRIS</div>
  <div class="nav-links">
    <a href="/" class="nav-link">HOME</a>
    <a href="/stats" class="nav-link">STATS</a>
    <% if (!user) { %>
    <a href="/login" class="nav-link">LOGIN</a>
    <a href="/register" class="nav-link">REGISTER</a>
    <% } %>
    <% if (user) { %>
    <a href="/logout" class="nav-link">LOGOUT</a>
    <% } %>
  </div>

</nav>